<!DOCTYPE html>
<html lang="en">
<head> <h1> VTM Estimator</h1> 
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/stylesheet.css') }}">
</head> 
<body> 
     <div>
        <h1>Vertical Tank Maintenance</h1>
         <a href="index.html">
            <button>Home</button> </a>
        <a href="about.html">
            <button> About</button></a>
        <a href="estimate.html">
            <button>Estimate</button></a>
        <br>
        <h2> VTM Estimator</h2>
    <form> 
        <table> 
            <tr> 
                <td> Radius (in inches): </td> 
                <td> <input type=”number” name="radius" id="radius"> </td> 
            </tr>
            <tr> 
                <td> Height (in inches): </td> 
                <td> <input type=”number” name="height" id="height"> </td> 
                <button type="button" onclick="href='{{ url_for('calculate')}}';">Estimate Cost</button>
            </tr> 
        </table> 
    </form> 
</body> 
</html>