<!DOCTYPE html>
<html lang="en">
<head> <h1> VTM Estimator</h1> 
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/stylesheet.css') }}">
</head> 
<body> 
     <div>
        <h1>Vertical Tank Maintenance</h1>
        <a href="../templates/index.html"><button>Home</button> </a>
        <a href="../templates/about.html"><button> About</button></a>
        <a href="../templates/estimate.html"><button>Estimate</button></a>
        <br>
        <h2> VTM Estimator</h2>
    <form> 
        <table> 
            <tr> 
                <td> Radius (in inches): </td> 
                <td> <input type=”number” name="radius" id="radius"> </td> 
            </tr>
            <tr> 
                <td> Height (in inches): </td> 
                <td> <input type=”number” name="height" id="height"> </td> 
            </tr>
            <tr>
                <td>Estimate Cost</td>
                <td><form action="/calculate" method="POST">
                    <button type="submit" id="estimate" value="Estimate Cost"></button>
                </form>
                </td>
            </tr> 
        </table> 
    </form> 
</body> 
</html>